{{All recipes for item|id=monster:{{{1}}}|nostation=1}}<!--

--><noinclude>
This template shows ALL recipes where this monster is a part of.

Usage: <code><nowiki>{{All recipes for monster|poptop}}</nowiki></code>, where <code>poptop</code> is ID of the monster.

This information is obtained from [[Special:CargoTables/recipe|Cargo database]].

[[Category:Cargo templates]]
</noinclude>
