<noinclude>{{#cargo_declare:
_table = statuseffect
|id = String
|name = String
|defaultDuration = String
|hasIcon = String
|immunityStats = List (,) of String
|resistWith = String
}}<noinclude>

This table lists all known status effects.

[[Category:Cargo templates]]
</noinclude>
