{{#invoke:ItemUnlockedBy|Main}}<noinclude>

This template shows "Unlocked by (link to the Research Tree node)" on the pages about items.

Usage: <nowiki>{{Item unlocked by|ItemId}}</nowiki>.

{| class="wikitable"
 ! <nowiki>{{Item unlocked by|sugarcaneseed}}</nowiki>
 | {{Item unlocked by|sugarcaneseed}}
 |}

[[Category:Cargo templates]]
</noinclude>
