/* Styles used by [[Module:ListArmors]] */

.wikitable tr td:nth-child(11) {
	background-color: #aaf; /* ice resist */
}
.wikitable tr td:nth-child(12) {
	background-color: #fdd; /* fire resist */
}
.wikitable tr td:nth-child(13) {
	background-color: #eae; /* electric resist */
}
.wikitable tr td:nth-child(14) {
	background-color: #afa; /* poison resist */
}
.wikitable tr td:nth-child(15) {
	background-color: #eea; /* radioactive resist */
}
.wikitable tr td:nth-child(16) {
	background-color: #fbf; /* cosmic resist */
}
.wikitable tr td:nth-child(17) {
	background-color: #ccc; /* shadow resist */
}

