{{#invoke:ListRecipes|RecipesCraftedAt}}<noinclude>
This template shows "Items crafted here" section for a crafting station. This information is obtained from [[Special:CargoTables/recipe|Cargo database]].

Usage: <code><nowiki>{{Recipes crafted at|Wooden Workbench}}</nowiki></code>.

Optional parameter: <nowiki>header=Some text</nowiki> - will use "Some text" instead of "Items crafted here" as the header text.

[[Category:Cargo templates]]
</noinclude>
